@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;200;300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

/*-----------------------------NAVBAR-----------*/

#navbar-container {
    background-color: rgb(73 73 82);
    overflow: hidden;
    height: 7vh;
}

#navbar-container ul {
    align-items: center;
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0;
    padding: 0;
}

#navbar-container ul li {
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 15px;
}

#navbar-container ul li a{
    text-decoration: none;
    color: #fafafa;
    letter-spacing: 3px;
    font-weight: 300;
}

#navbar-container ul li a img{
    height: 60px;
    padding: 0;
    border-radius: 50%;
    align-items: center;
}

/*-----------------------------HERO IMAGE-----------*/

#hero-img {
    background: url("../images/hero.png");
    background-position: center;
	background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-blend-mode: overlay;
	position: relative;
    height: 93vh;
    opacity: 0.85;
}

#hero-intro {
    display: inline-block;
    background: url(../images/beer-bg.png);
    background-position: center;
    background-size: contain;
    max-width: 320px;
    padding: 100px 30px;
    bottom: 30px;
    left: 150px;
    position: absolute;
    border-radius: 2px;
    opacity: 0.8;
    text-shadow: 2px 2px 11px rgba(0,0,0,0.40)
}

#hero-img h1 span{
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    
}

p {
    font-weight: 700;
}