@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@100;200;300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

/*-----------------------------NAVBAR-----------*/

#navbar-container {
    background-color: #2F4858;
    overflow: hidden;
    heigt: 7vh;
}

#navbar-container ul {
    align-items: center;
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0;
    padding: 0;
}

#navbar-container ul li {
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 15px;
}

#navbar-container ul li a{
    text-decoration: none;
    color: #fafafa;
    letter-spacing: 3px;
    font-weight: 300;
}

#navbar-container ul li a img{
    height: 80px;
    width: 80px;
    margin-top: 5px;
    padding: 0;
    border-radius: 50%;
    align-items: center;
    background-color: #fff;
}

/*-----------------------------HERO IMAGE-----------*/

#hero-img {
    background: url("../images/hero.png");
    background-position: center;
	background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-blend-mode: overlay;
	position: relative;
    height: 93vh;
    opacity: 0.85;
}

#hero-intro {
    display: inline-block;
    background: url(../images/beer-bg1.png);
    background-position: center;
    background-size: contain;
    max-width: 320px;
    padding: 100px 30px;
    bottom: 30px;
    left: 150px;
    position: absolute;
    border-radius: 70px 70px 5px 5px;
    text-shadow: 7px 7px 13px rgba(255,255,255,0.80);
    font-weight: 700;
}

#hero-img h1 span{
    display: block;
    text-transform: uppercase;
}




/*-----------------------------ABOUT-----------*/
.containerHeading, .containerAbout, .containerbeer {
    max-width: 1140px;
    margin: 0 auto;
    justify-content: center;
    background-color: #2F4858;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 8px;
}

h2 {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 3px;
    padding: 15px 0;
    color: #F6AE2D;
}

.aboutText {
    max-width: 940px;
    padding:50px 0;
    margin: 0 auto;
    color: #F6AE2D;
    font-weight: 500;
}

.aboutText p {
    padding-top: 10px;
}

.aboutHistory {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.aboutContent {
    width: 350px;
    margin: 30px 70px;
    color: #F6AE2D;
}

.aboutContent img{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 0px 50px 10px rgba(255,255,255,0.05);
}

.aboutContent h3 {
    font-size: 30px;
    padding-bottom: 10px;
    z-index: 1;
}

.aboutContent p {
    justify-content: center;
    font-weight: 500;
}

/*-----------------------------BEERS-----------*/

.containerbeer p {
    max-width: 940px;
    padding:50px 0;
    margin: 0 auto;
    color: #F6AE2D;
    font-weight: 500;
}

.buttonsContainer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.btnDiv h3{
    display: flex;
    justify-content: center;
    color: #F6AE2D;
    font-size: 25px;
    font-weight: 500;
}

.btn {
    border: 15px solid #ffa400;
    border-radius: 50%;
    cursor: pointer;
    height: 150px;
    box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 1)
}

.btn:active {
    transform: scale(0.9);
}

.redBorder {
    border: 15px solid #6E0E0A !important;
}

.beersShowUpDiv {
    display: flex;
    justify-content: center;
}

.showUpElement {
    margin: 30px 80px;
}

.imageShowUpDiv img {
    border-radius: 50%;
    border: 15px solid #ffa400;
    box-shadow: 0 0px 2px 1px rgba(0, 0, 0, 1);
    height: 350px;
    width: 350px
}

.textShowUpDiv {
    max-width: 350px;
    height: auto;
    align-self: center;
}

.textShowUpDiv p {
    padding: 0;
}

/*-----------------------------FOOTER-----------*/

footer {
    background-color: #2F4858;
    
}

.footerDiv {
    align-self: center;
}

.footerDiv ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.footerDiv ul li{
    padding: 20px 45px;
    font-size: 30px;
}

.footerDiv ul li a {
    color: #fafafa;
}